.form-group {
    margin-top: 10px;
}

.error {
    color: red;
    border: solid red;
}

.error-text {
    margin-top: 2px;
    color: red;
    text-decoration: none;
}

#login-page-box{
    margin-top: 5px;
}

ul{
       list-style-type: none;
}
.card-footer{
margin-top: 5px;
}

.container h3{
    margin-top: 30px;
}