.form-group {
    margin-top: 10px;
}

.error {
    color: red;
    border: solid red;
}

.error-text {
    margin-top: 2px;
    color: red;
    text-decoration: none;
}

#login-page-box{
    margin-top: 5px;
}