{% from "macros.html" import render_element %}
{% extends "index.html" %}
{% block mainContent %}
<div class="container">
  <h3 class="text-center">{{ title }}</h3>
  <form method="post">
    {{form.hidden_tag()}}
    {{ render_element(form.url,"bookmark","ex: https://www.facebook.com") }}
    {{ render_element(form.description,"description","ex: My favorite social media site") }}
    {{ render_element(form.tags,"tags","ex: social media,favaorites") }}
    <input type="submit" {% if title=="Edit bookmark" %} value="Edit" {% else %} value="Add" {% endif %} class ="btn btn-primary">
  </form>
</div>
{% endblock %}
{% block recent_bookmarks %}
{% endblock %}