{% extends "index.html" %}
{% from "macros.html" import render_element,render_flashes %}
{% block mainContent %}
<div class="container" id="login-page-box">
    <h3 class="text-center">Login</h3>
    {{ render_flashes() }}
    <form method="post">
        {{form.hidden_tag()}}
        {{ render_element(form.email,"email","ex: abc@xyz.com ") }}
        {{ render_element(form.password,"password") }}
        <div class="form-check" style="margin-bottom: 5px">
        {{ form.remember_me(class="form-check-input") }} {{ form.remember_me.label(class="form-check-label") }}
        </div>
    <input type="submit" value="Log In" class ="btn btn-primary">
  </form>
</div>
{% endblock %}
{% block recent_bookmarks %}
{% endblock %}