{% macro render_field(field) %}
        {{  field(**kwargs)|safe  }}
{% endmacro %}


{% macro render_element(field,id,placeholder) %}
    {% if field.errors %}
      <div class="from-group">
        <label for="{{id}}" class="error-text">{{ field.label }}</label>
        {{  render_field(field,class="form-control error",id=id,placeholder=placeholder) }}
      </div>
      <div>
        <ul>
          {% for error in field.errors %}
          <li  class="error-text">
            {{ error }}
          </li>
          {% endfor %}
        </ul>
      </div>
    {% else %}
      <div class="form-group">
        <label for="{{id}}">{{ field.label}}</label>
          {{ render_field(field,class="form-control",id=id,placeholder=placeholder) }}
      </div>
    {% endif %}
{% endmacro %}

{% macro render_cards(bookmarks) %}
<div class="container">
        <div class="row">
            {% for bookmark in bookmarks %}
              <div class="card col-md-4 col-xs-12 col-sm-6" style="width: 18rem;">
                  <div class="card-body">
                      <h5 class="card-title">{{ bookmark.description | truncate(50,killwords=True) }}</h5>
                      <p class="card-text">{{ bookmark.url | truncate(50,killwords=True) }}
                          <br>
                      Tags:
                                {% for tag in bookmark._tags.all() %}
                                <a href={{ url_for("tagView",tagid=tag.id) }}><span>#{{ tag.name }}</span></a>
                                {% endfor %}
                      </p>
                      <a href="{{ bookmark.url }}" target="_blank" class="btn btn-dark">Go to link</a>
                  </div>
              </div>
            {% endfor %}
        </div>
</div>
{% endmacro %}

{% macro render_flashes() %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category,message in messages %}
                {% if category=="error" %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-primary" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

{% endmacro %}