{% extends "index.html" %}
{% from "macros.html" import render_flashes %}


{% block mainContent %}
    <div class="container">
         {{ render_flashes() }}
        <h3>Your Bookmarks:</h3>
        {% if user.bookmarks.count()>0 %}
            {% with bookmarks=user.bookmarks.all() %}
                {% include "bookmark_list.html" %}
            {% endwith %}
        {% else %}
            No bookmarks yet.
        {% endif %}
    </div>
{% endblock %}
{% block recent_bookmarks %}
{% endblock %}